body{
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
.gallery-h1 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-top: 20px;
    background-color: black;
    color: #ff6600;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

.gallery-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Space between images */
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Space between images */
}
.gallery-img {
    width: 300px; /* Set a fixed width for images */
    height: 200px; /* Set a fixed height for images */
    object-fit: fill; /* Fill the container without maintaining aspect ratio */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.6s ease; /* Smooth zoom effect */
    background-color: white; /* Background color for images */
    margin: 10px; /* Margin around each image */
    border: 2px solid black; /* Green border */
    animation: zoom 2s infinite; /* Animation for zoom effect */
}

.gallery-img:hover {
    transform: scale(1.15); /* Zoom effect on hover */
    cursor: pointer; /* Change cursor to pointer */
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    max-width: 90vw;
    max-height: 80vh;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.5);
}
.close {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2100;
}


